<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/compras.css">
    <title>Compras</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script>
        // Función para mostrar la ventana emergente al hacer clic en el botón "Crear Nuevo"
        function crearNuevoCompra() {
            document.getElementById('crearCompra').style.display = 'block';
        }
        
        $(function() {
            // Selecciona el formulario de creación y establece un manejador para el evento submit
            $("#crearCompra form").submit(function(event) {
                event.preventDefault(); // Evitar el envío del formulario por defecto

                var form = $(this); // Obtener el formulario actual
                var url = form.attr('action'); // Obtener la URL a la que se enviará la solicitud AJAX
                var formData = form.serialize(); // Serializar los datos del formulario en formato de cadena

                // Enviar una solicitud AJAX al servidor
                $.ajax({
                    type: 'POST', // Método de solicitud HTTP
                    url: url, // URL del servidor donde se enviarán los datos del formulario
                    data: formData, // Datos del formulario serializados
                    success: function(response) {
                        alert(response); // Mostrar un mensaje emergente con la respuesta del servidor
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText); // Mostrar errores en la consola del navegador
                    }
                });
            });
        });
    </script>

    <script>
        function buscarUnaCompra(){
            document.getElementById('buscarCompra').style.display = 'block'
        }
    </script>

    <script>
        function actualizarUnaCompra(){
            document.getElementById('actualizarCompra').style.display = 'block'
        }
        
                // Función AJAX que muestra un POP UP cuando se actualiza producto
        $(function() {
            $("#actualizarCompra form").submit(function(event) {
                event.preventDefault(); // Evitar el envío del formulario por defecto

                var form = $(this);
                var url = form.attr('action');
                var formData = form.serialize();

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(response) {
                        alert(response); // Mostrar un mensaje emergente con la respuesta del servidor
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText); // Mostrar errores en la consola del navegador
                    }
                });
            });
        });
    </script>

    <script>
        function eliminarUnaCompra(){
            document.getElementById('eliminarCompra').style.display = 'block'
        }
    </script>
    
<!--Funcion que convierte la fecha de vencimiento y la pone en el formato yy-mm-dd como lo pide MYSQL-->
    <script>
        $(function() {
        $("#fecha_compra").datepicker({
            dateFormat: 'yy-mm-dd'
        });
        });
    </script>

    <script>
        function cerrarFormulario(idFormulario) {
            var formulario = document.getElementById(idFormulario);
            formulario.style.display = "none";
        }
    </script>

</head>

<header>

    <nav class="navbar navbar-expand-lg bg-light" style="height: 80px; color: black;">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html" style="font-weight: bold; font-size: 20px; color: rgba(4, 228, 228, 0.795);">
                <img src="../imagenes/LogoPharmaCommerce.PNG" alt="Logo pagina" style="width: 70px; padding-bottom: 10px"> PharmaCommerce
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="margin-top: 30px">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="text-decoration: underline; " aria-current="page" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  font-weight-bold" style="text-decoration: underline; color: black" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle font-weight-bold" style="text-decoration: underline; color: black;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                            Menú
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"  href="/index">Inicio 🏠</a></li>
                            <li><a class="dropdown-item"  href="/productos">Productos 🛒</a></li>
                            <li><a class="dropdown-item"  href="/compras">Compras 🗳️</a></li>
                            <li><a class="dropdown-item"  href="/clientes">Clientes 👨‍💼</a></li>
                            <li><a class="dropdown-item"  href="/empleados">Empleados 🧑🏻‍💼</a></li>
                            <li><a class="dropdown-item"  href="/proveedores">Proveedores 🔧</a></li>
                            <li><a class="dropdown-item"  href="/categorias">Categorías 🗂️</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle font-weight-bold" style= "color: black; text-decoration: underline;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                            Mi perfil 🙎🏻‍♂️
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"  href="index.html">Configuración ⚙️</a></li>
                            <li><a class="dropdown-item"  href="index.html">Editar perfil ✏️</a></li>
                            <li><a class="dropdown-item"  href="index.html">Cerrar sesión ❌</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</header>

<body>

<main>
    <h1 class="nombre-pagina">Compras 🗳️</h1>
    <section class="compras">
        <p>¡Bienvenido a la sección de Compras! En esta área, encontrarás todas las herramientas que necesitas para administrar tus procesos de compra de manera efectiva. Tanto si deseas consultar el historial de compras, ingresar nuevos registros de adquisición o realizar acciones específicas en tu flujo de trabajo de compras, esta pestaña será tu aliada en la gestión de adquisiciones de tu negocio.</p>
        <br>
    </section>
</main>

<div class="container text-center botones-contenedor">
    <div class="btn-group-vertical botones" role="group" aria-label="Vertical radio toggle button group" style="width: 60%;">
        <a href="#" onclick="crearNuevoCompra()" class="btn btn-outline-primary">Crear</a>
        <a href="#" onclick="buscarUnaCompra()" class="btn btn-outline-primary">Buscar</a>
        <a href="#" onclick="actualizarUnaCompra()" class="btn btn-outline-primary">Actualizar</a>
        <a href="#" onclick="eliminarUnaCompra()" class="btn btn-outline-primary">Eliminar</a>
    </div>
</div>

<!-- Ventana emergente -->
<div id="crearCompra" class="crearCompra">
    <a href="#" class="cerrar-formulario" onclick="cerrarFormulario('crearCompra')">&times;</a>
    <h2>Crear Nueva Compra</h2>
    <form action="/crearCompras" method="post">
        <div class="form-group">
            <label for="informacion_producto">InfoProducto:</label>
            <input type="text" id="informacion_producto" name="informacion_producto"> 
        </div>
        <div class="form-group">
            <label for="cantidad">Cantidad:</label>
            <input type="text" id="cantidad" name="cantidad"> 
        </div>
        <div class="form-group">
            <label for="total_pagar">Total Pagar:</label>
            <input type="number" id="total_pagar" name="total_pagar"> 
        </div>
        <div class="form-group">
            <label for="precio">FechaCompra:</label>
            <input type="text" id="fecha_compra" name="fecha_compra">
        </div>  
        <div class="form-group">
            <label for="precio">Empleado:</label>
            <select class="form-select" aria-label="Default select example" id="id_empleado" name="id_empleado">
                <option selected disabled>Seleccione un empleado</option>
                <option value="1111111111" >Empleado genérico</option>
            </select> 
        </div>
        <div class="form-group">
            <label for="id_metodo_pago">Metodo Pago:</label>
            <select class="form-select" aria-label="Default select example" id="id_metodo_pago" name="id_metodo_pago">
                <option selected disabled>Seleccione un empleado</option>
                <option value="1" >Tarjeta crédito</option>
                <option value="2" >Tarjeta débito</option>
                <option value="3" >Transferencia bancaria</option>
                <option value="4" >Pago en efectivo</option>
                <option value="5" >Pago por cheque</option>
            </select> 
        </div>  
        <div class="form-group">
            <label for="id_proveedor">Proveedor:</label>
            <select class="form-select" aria-label="Default select example" id="id_proveedor" name="id_proveedor">
                <option selected disabled>Seleccione un proveedor</option>
                <option value="1" title="Healthy S.A.S">Healthy S.A.S</option>
                <option value="2" title="Meditech">Meditech</option>
            </select> 
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary" style="margin: auto; width: 150px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);">Crear</button>
        </div>
    </form>
</div>

<div id="buscarCompra" class="buscarCompra">
    <a href="#" class="cerrar-formulario" onclick="cerrarFormulario('buscarCompra')">&times;</a>
    <h2>Buscar Compra</h2>
    <form action="/buscar-compra" method="post">
        <div class="form-group">
            <label for="termino_busqueda">Buscar:</label>
            <input type="text" id="termino_busqueda" name="termino_busqueda" placeholder="Término de búsqueda"> 
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary" style="margin: auto; width: 150px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);">Buscar</button>
        </div>
    </form>
</div>

<div id="actualizarCompra" class="actualizarCompra">
    <a href="#" class="cerrar-formulario" onclick="cerrarFormulario('actualizarCompra')">&times;</a>
    <h2>Actualizar Compra</h2>
    <form action="/actualizar-compra" method="post">
        <div class="form-group">
            <label for="id_compra">ID Compra:</label>
            <input type="text" id="id_compra" name="id_compra" placeholder="ID Compra a actualizar"> 
        </div>
        <div class="form-group">
            <label for="campo">Campo:</label>
            <select class="form-select" id="campo" name="campo" aria-label="Default select example">
                <option selected>Campo a actualizar</option>
                <option value="id_compra">id_compra</option>
                <option value="cantidad">cantidad</option>
                <option value="total_pagar">total_pagar</option>
                <option value="id_empleado">id_empleado</option>
                <option value="fecha_compra">fecha_compra</option>
                <option value="id_metodo_pago">metodo_pago</option>
                <option value="id_proveedor">id_proveedor</option>
            </select> 
        </div>
        <div class="form-group">
            <label for="nombre">Nuevo Valor:</label>
            <input type="text" id="nuevoValor" name="nuevoValor" placeholder="Ingrese el valor nuevo">
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary" style="margin: auto; width: 150px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);">Actualizar</button>
        </div>
    </form>
</div>

<div id="eliminarCompra" class="eliminarCompra">
    <a href="#" class="cerrar-formulario" onclick="cerrarFormulario('eliminarCompra')">&times;</a>
    <h2>Eliminar Compra</h2>
    <form id="eliminarCompraForm" onsubmit="enviarFormularioCompra(event)">
        <div class="form-group">
            <label for="compra_id">Compra a eliminar:</label>
            <select class="form-select" aria-label="Default select example" id="compra_id" name="compra_id" style="width: 250px">
                <option selected disabled>ID Compra a eliminar</option>
            </select>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary" style="margin: auto; width: 150px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);">Eliminar</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/api/compras')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('compra_id');
                data.forEach(compra => {
                    const option = document.createElement('option');
                    option.value = compra.id_compra;
                    option.textContent = `${compra.id_compra} - ${compra.informacionProducto}`;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Error al cargar las compras:', error));
    });

    function enviarFormularioCompra(event) {
        event.preventDefault();  // Evita que el formulario se envíe de forma tradicional
        const form = document.getElementById('eliminarCompraForm');
        const compraId = document.getElementById('compra_id').value;

        if (compraId && compraId !== 'ID Compra a eliminar') {
            fetch(`/eliminar-compra/${compraId}`, {
                method: 'DELETE',
            })
            .then(response => {
                if (response.ok) {
                    alert('Compra eliminada exitosamente');
                    form.reset();
                } else {
                    alert('Error al eliminar la compra');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error al eliminar la compra');
            });
        } else {
            alert('Por favor, selecciona una compra');
        }
    }
</script>





</body>

<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>&copy; 2024 PharmaCommerce. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>

</html>