<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Resultados de la búsqueda</title>
</head>
<body class="d-flex justify-content-center align-items-center"> <!-- Estilos para centrar -->
    <div class="container">
        <h1 class="text-center mb-4">Resultados de la búsqueda</h1> <!-- Centra el título -->
        
        <div th:if="${not #lists.isEmpty(productos)}" class="text-center">
            <table class="table table-info mx-auto"> 
                <thead>
                    <tr>
                        <th>ID Producto</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio Venta</th>
                        <th>Stock</th>
                        <th>Fecha Vencimiento</th>
                        <th>ID Categoría</th>
                        <th>ID Proveedor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto : ${productos}">
                        <td th:text="${producto.id_producto}">ID Producto</td>
                        <td th:text="${producto.nombre}">Nombre del producto</td>
                        <td th:text="${producto.descripcion}">Descripción</td>
                        <td th:text="${producto.precio_venta}">Precio de venta</td>
                        <td th:text="${producto.stock}">Stock</td>
                        <td th:text="${producto.fecha_vencimiento}">Fecha de vencimiento</td>
                        <td th:text="${producto.id_categoria}">ID Categoría</td>
                        <td th:text="${producto.id_proveedor}">ID Proveedor</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${#lists.isEmpty(productos)}" class="no-results text-center mt-4"> <!-- Centra el mensaje -->
            <p>No se encontraron resultados para la búsqueda.</p>
        </div>
        
        <div class="text-center mt-4"> <!-- Centra el botón -->
            <a th:href="@{/productos}" class="btn btn-primary">Volver a Productos</a>
        </div>
    </div>
</body>
</html>
